.calendar{
  margin: 15px;
  max-width: 500px;
  float: left;
}

.calendar table{
  table-layout: fixed;
  width: 100%;
}


.calendar button{
  transition-duration: 0s;
}

.calendar__navigation{
  padding: 15px;
  display: flex;
  width: 100%;
  position: relative;
}

.calendar__navigation>*{
  margin: 5px;
}

.calendar__navigationBtns{
  position: absolute;  
  right:0;
}

@media screen and (max-width:720px) {
  .calendar h2{
    font-size: var(--chakra-fontSizes-xl);
  }

  .calendar__week-day{
    font-size: 12px;
    padding: 4px;
    text-align: center;
  }

  .calendar table td button{
    font-size: 14px;
    
  }

  .calendar__navigationBtns button{
    padding: 2px;
    font-size: larger;
  }
}