.diaryEditor{
  width:100%;  
  margin:0;
  display: flex;
  flex-wrap: wrap;
  color: #444;
}

.diaryEditor textarea, .diaryEditor textarea:focus{
  width: 50%;
  padding: 10px;
  border-radius: 0px;
  border: 1px solid lightgray;
  border-right: 0px;
  height: 65vh;
  resize: none;
  outline: none;
}

.diaryPreview{
  width:50%;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: 1px solid lightgray;
  height: 65vh;
  overflow-y: scroll;
}

.diaryPreview>*{
  margin-bottom: 5px;
}

.diaryEditor__headers{
  display: flex;
  width: 100%;
  background-color: #eee;
}

.diaryEditor__headers>h3{
  width: 50%;
  padding: 8px;
  border: 1px solid lightgray;
  border-bottom: 0px;
}

.diaryEditor__headers>h3:first-child{
  border-right: 0px;
}

.diaryEditor__toolbar{
  display: flex;
  width: 100%;
  background-color: #eee;
  border: 1px solid lightgray;
  border-bottom: 0;
}

.diaryEditor__toolbar button{
  border-radius: 0;
}

.diaryEditor__toolbar svg{
  width: 32px;
  height: 32px;
  padding: 6px;  
  color: #777;
  cursor: pointer;
}

svg:hover::after {
  content: attr(title);
  position: absolute;
  top: -100%;
  left: 0;
  font-size: 16px;
  color: hotpink;
}

.diaryEditor__toolbar svg:hover{
  color: #222;
}

.diaryPreview h1{  
  font-size: xx-large;
  font-weight: bold;
}

.diaryPreview h2{
  font-size: x-large;
  font-weight: bold;
}

.diaryPreview h3{
  font-size: larger;
  font-weight: bold;
}

.diaryPreview h4{
  font-size: large;
  font-weight: bold;
}

.diaryPreview h5{
  font-size: medium;
  font-weight: bold;
}

.diaryPreview h6{
  font-size: small;
  font-weight: bold;
}

.diaryPreview ul,ol {
  list-style-position: inside;
}

.diaryPreview ul li::marker {  
  font-size: large;
  content: "• ";
}

blockquote {  
  margin-left: 0px;
  margin-right: 0px;
  padding: 10px;
  background-color: #eee;
  border-left: 10px solid gray;
}

.diaryPreview hr{
  margin-top: 13px;
  height: 5px;
  border-top-width: 3px;
}

.diaryPreview code:not(.hljs){
  background-color: #eee;
}
.diaryPreview pre{
  background-color: #eee;
  padding: 10px;
}

.diaryPreview table {
  border-collapse: separate;
  border-spacing: 1px;
  text-align: center;
  line-height: 1.5;
  margin: 10px 5px;
}
.diaryPreview table th {
  
  padding: 10px;
  font-weight: bold;
  vertical-align: top;
  color: #fff;
  background: #555;
}
.diaryPreview table td {
  
  padding: 10px;
  vertical-align: top;
  border-bottom: 1px solid #ccc;
  background: #eee;
}
.diaryPreview a{
  color: #0969da;    
}

.diaryPreview a:hover{
  color: #0969da;
  text-decoration: underline; 
}

.diaryPreview img{
  max-width: 100%;
  height: fit-content;
  margin: 5px;
  display: inline-block;
}