.menu{
  position: fixed;
  bottom: 0;
  left: 0;
  padding-left: 30px;
  padding-bottom: 30px;
  pointer-events: none;
  z-index: 2;
}

.menu button{
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.5));
}


.menu__btns{
  position: relative;
  opacity: 0%;
  left:-200px;
  transition-property: left,opacity;
  transition-delay: 0s;  
  transition-timing-function: ease-in-out;
}

.menu.opened .menu__btns{
  opacity: 100%;
  left:0px;
  pointer-events: all;
}