.todoList{
  margin: 60px;
  
  
  height: 500px;
  float: left;
}

.todoList__header{
  display: flex;
  position: relative;
  align-items: center;  
  width: 52%;
  justify-content: space-between;
  text-align: center;
  align-content: center;
}

.todoList__todo{
  display: flex;
  position: relative;
  align-items: center;  
  width: 50%;
}

.todoList__todo input{
  border-color: var(--chakra-colors-facebook-500);
}

.todoList__todo span{
  border-color: var(--chakra-colors-facebook-500);
  
}

