.todoMenu{
  position: absolute;
  width: 50%;
  top:0px;
  left:100%;
  display: flex;
  flex-wrap: wrap;
  opacity: 0%;
  transform: translateY(-10%) scale(.9);
  pointer-events: none;
  transition: all .1s 0s ease-in-out;
  z-index: 5;
}

.todoMenu.opened{
  transform: translateY(0) scale(1);
  opacity: 100%;
  pointer-events: all;
}

.todoMenu Button{
  width: 100%;
  border-radius: 0px;
}

.todoMenu Button:first-child{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.todoMenu Button:last-child{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

@media screen and (max-width:720px) {
  .todoMenu{
    position: fixed;
    top:unset;
    left:0;
    bottom: 0;
    width: 100vw;
    height: 100vh;    
    align-content: flex-end;
    background-color: rgba(0, 0, 0, .5);
    transform: translateY(0) scale(1);
  }

  .todoMenu.opened Button{    
    transform: translateY(0) scale(1);
  }

  .todoMenu Button{
    width: 70%;
    margin: 0 auto;
    transform: translateY(300%);
  }

  .todoMenu Button:last-child{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }

  .todoMenu .todoMenu{
    left: -15vw;
    background-color: transparent;
  }
  
}