@import url('https://fonts.googleapis.com/css2?family=Sedgwick+Ave+Display&display=swap');




@font-face {
  font-family: '양진체';
  src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App{
  min-height: 100vh;
  overflow-x: hidden;
}



.outlineBtn{
  text-decoration: underline;
  cursor: pointer;
}

.hoverIconEffect{
  display: flex;
  align-items: center;;
  align-content: center;
  transition: all .2s 0s ease-in-out;
  opacity: 0;
  max-width: 0;
  transform: scaleX(0);
}
.hoverIconEffect.hover{
  opacity: 1;
  max-width: 40px;
  transform: scaleX(1);
}


.alertModal{
  background-color: rgba(0, 0, 0, .5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top:0;
  left: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  pointer-events: none;
  opacity: 0;
  z-index: 10;
}

.alertModal.enabled{
  pointer-events: all;
  opacity: 100%;
}

.alertModal div{
  border-radius: 16px;
  padding: 20px;
  background-color: white;
  color: black;
  height: fit-content;
  transform: translateY(-10%) scale(.9);
  transition: all .1s 0s ease-in-out;
}

.alertModal.enabled div{
  transform: translateY(0) scale(1);
}

